<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment_y2s1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddToCart"></activity>
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".KidProdActivity" />
        <activity android:name=".WomenProdActivity" />
        <activity android:name=".MenProdActivity" />
        <activity android:name=".ProductHomeapgeActivity" />
        <activity android:name=".cust_main" />
        <activity android:name=".NewAddressActivity" />
        <activity android:name=".AddressDetailsActivity" />
        <activity android:name=".editProfile" />
        <activity android:name=".accountPage" />
        <activity android:name=".register_successfully_page">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".register_page" />
        </activity>
        <activity android:name=".register_page">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SuccessActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".CartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".ContactUs" />
        <activity android:name=".AboutUs" />
        <activity android:name=".History"/>
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>